#divi{
		border-style: dotted;
		border-color: #283429;
		margin: 15%;
		padding: 12px;
	}
	#product{
		font-family: 'Noto Sans Korean';
		font-size: 14pt;
		text-align: left;
		margin-left: 20px;
		margin-right: 20px;
	}
	#price{
		margin-top: 25px;
		margin-bottom: 25px;
		font-family: 'Nato Sans Korean';
		font-size: 15pt;
		text-align: center;

	}
	body{
		background-color: #E8DAEF ;
		border-style: dashed;
		border-color: #A569BD;
		
	}

	img{
		height: 30%;
		width: 30%;
		margin-left: 200px;
		margin-right: 200px;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;

	}
	h4{
		font-family: 'Noto Sans Korean';
		font-size: 30pt;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	button{
		border: none;
		border-radius: 3px;
		outline: 0;
		display: inline-block;
		padding: 12px;
		color: white;
		background-color: #F5B7B1 ;
		text-align: center;
		cursor: pointer;
		width: 50%;
		font-size: 20px;
	}